#related {
  background-color: rgb(36, 36, 47, 0.6);
}

a.silent {
  color: rgb(36, 36, 47);
  text-decoration: none !important;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0 15px 20px 15px;
  width: 500px;
  height: 165px;
  max-width: 90vw;
  display: flex;
  overflow: hidden;
  border-right: 6px solid rgba(129, 129, 142, 0.9);
  background-color: #fff;
}

.card:hover {
  background-color: #d9d9d9;
}

.card-image {
  width: 47%;
  height: 100%;
}

.card-image > .image {
  width: 100%;
  height: 100%;
}

.card-image > .image > img {
  width: 100%;
  height: 100%;
}

.card-content {
  width: 53%;
  height: 100%;
  padding: 10px;
}

.card-content > .content h3 {
  font-size: 0.8em;
  margin: 0;
  color: #242943;
}

.card-content > .content > .content-description {
  font-size: 0.7em;
  color: #242943;
}

.card-content > .content > .content-type {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.6em;
  color: #242943;
  width: 100%;
  text-align: right;
  margin-bottom: 0;
}

.section-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 18vh;
}

.section-title-container {
  margin-left: 20px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  height: 100%;
}

.section-header img {
  height: 60%;
}

.section-title-container h1 {
  margin: 0;
  color: #fff;
}
