<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">
            {{ partial "search_results.html" . }}

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main" class="alt">

                <!-- Ads -->

                {{ if and .Site.Params.Ads.enable .Site.Params.Ads.singlePageHeaderAds.enable }}
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Site.Params.Ads.client }}"
                     crossorigin="anonymous"></script>
                <!-- Single Page Header Ads -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="{{ .Site.Params.Ads.client }}"
                     data-ad-slot="{{ .Site.Params.Ads.singlePageHeaderAds.slot }}"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {{ end }}

                <!-- One -->
                    <section id="one">
                        <div class="inner">
                            {{ "<!-- Parent Tree -->" | safeHTML }}
                            {{ partial "parent_tree.html" . }}

                            <header class="major">
                                <h1>{{ .Title}}</h1>
                            </header>

                            {{ "<!-- Gallery -->" | safeHTML }}
                            {{ partial "gallery.html" . }}

                            {{ .Content }}
                        </div>
                    </section>
            {{ "<!-- Related -->" | safeHTML }}
              {{ if isset .Params "related" }}
                {{ partial "related.html" (dict "related" .Params.related "ctx" .) }}
              {{ end }}

            {{ "<!-- Hyvor Inject -->" | safeHTML }}
                {{ if and (.Site.Params.hyvorTalkID) (not  .Params.disableComments) }}
                  {{ partial "hyvor.html" . }}
                {{ end }}
            </div>

        {{ "<!-- Footer -->" | safeHTML}}
          {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
          {{ end }}

        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
